<p-toast></p-toast>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Edit Billing Information (Auto Saving)</h3>
    </div>
    <div class="card-body">
        <form id="Form" [formGroup]="BillingForm" (change)="onFormChange()">
            <div class="form-group">
                <label>Client Name (*) : <span class="text-danger"
                        *ngIf="(BillingForm.get('document_client').invalid || submitted) && BillingForm.get('document_client').errors?.invalidClientName">
                        This Field is Required
                    </span></label>
                <div style="display: flex;">
                    <select id="document_client" formControlName="document_client"
                        class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                        style="margin-right: 10px;width: 100%;">
                        <option value="-" selected disabled>Select a Client</option>
                        <option *ngFor="let client of clients" [value]="client.id">{{ client.client_name }}</option>
                    </select>
                    <app-add-client-modal (clients)="handleClientDataEvent($event)"></app-add-client-modal>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Date (*):<span class="text-danger"
                                *ngIf="(BillingForm.get('document_date').invalid || submitted) && BillingForm.get('document_date').errors?.required">
                                Date Field Is Required
                            </span></label>
                        <input type="date" class="form-control" id="Date" autocomplete="off"
                            formControlName="document_date" value="" placeholder="..." required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    </div>
                </div>
                <!-- Conditionally show elements based on TYPE -->
                <div *ngIf="TYPE === 'invoices'" id="avance" class="col-sm-6">
                    <div class="form-group">
                        <label>Avance (*): <span class="text-danger"
                                *ngIf="(BillingForm.get('deposit').invalid || submitted) && BillingForm.get('deposit').errors?.required">
                                This Field is Required
                            </span></label>
                        <input type="number" class="form-control" formControlName="deposit" value="0">

                    </div>
                </div>

                <div *ngIf="TYPE === 'invoices'" class="col-sm-6">
                    <div class="form-group">
                        <label>Méthode de paiement (*): <span class="text-danger"
                                *ngIf="(BillingForm.get('document_payment_method').invalid || submitted) && BillingForm.get('document_payment_method').errors?.invalidClientName">
                                This Field is Required
                            </span></label>
                        <select class="form-control" id='paiementmethod' formControlName="document_payment_method">
                            <option value="-" disabled selected>Choose a paiment method</option>
                            <option value='Cash'>Cash</option>
                            <option value='Cheque'>Cheque</option>
                            <option value='Lettre'>Lettre De Change</option>
                            <option value='Bank_Transfer'>Bank Tansfer</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="TYPE === 'invoices'" class="col-sm-6">
                    <div class="form-group">
                        <label>TTC ou HT (*): <span class="text-danger"
                                *ngIf="(BillingForm.get('ttc_or_ht').invalid || submitted) && BillingForm.get('ttc_or_ht').errors?.required">
                                This Field is Required
                            </span></label>
                        <select class="form-control" id="ttc_or_ht" formControlName="ttc_or_ht">
                            <option>HT</option>
                            <option>TTC</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ButtnEnregister">
                <button id="savebttn" type="button" class="btn btn-default btn-success add-new" (click)="PrintPDF()">
                    <i id="IconPlus" class="fas fa-plus"></i>
                    <span id="IconSpin" class="spinner-border spinner-border-sm" style="display:none"></span>
                    <b>Print</b>
                </button>
            </div>
        </form>
    </div>
</div>