<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Manage Your Application Settings:</h1>
      </div>
    </div>
  </div>
</section>

<section class="content-header">
  <p-tabView styleClass="tabview-custom">
    <!-- Template Settings Tab -->
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-palette"></i>
        <span>Template Settings</span>
      </ng-template>
      <div class="flex flex-column" style="max-width: 500px">
        <!-- Color Picker -->
        <div class="p-field">
          <label for="colorPicker" class="label-custom">Select Template Color:</label>
          <input
            type="color"
            id="colorPicker"
            [(ngModel)]="templateColor"
            class="color-input"
            (change)="onColorChange($event)" 
          />
        </div>

        <!-- File Upload -->
        <div class="p-field mt-4 flex flex-column">
          <p-toast></p-toast>
          <p-fileUpload
            name="file"
            url="{{UPLOAD_URL}}"
            auto="true"
            [multiple]="false"
            accept="image/*"
            maxFileSize="1000000"
            (onUpload)="onUpload($event)"
          >
            <ng-template pTemplate="toolbar">
              <div class="py-3 text-center font-bold">Upload Your Invoice Background Image</div>
            </ng-template>
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>

      <!-- Preview Section -->
      <div class="preview-template mt-4">
        <!-- PDF Preview Section -->
        <div class="pdf-preview-container mt-4">
          <iframe [src]="pdfUrl | safe" width="80%" height="1000px" style="border: none; display: block; margin: 0 auto;"></iframe>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</section>
