<div class="login-box">
    <div class="login-logo">
        <p
            style="color: black;padding: 8px;background-color: #ffffff78;width: 100% !important;border-top-left-radius: 14px;border-top-right-radius: 14px;    text-shadow: 1px 1px 2px #0000004d;">
            <b>E</b>-FACTURE
        </p>
    </div>
    <!-- /.login-logo -->
    <div class="card" style="background: none;">
        <div class="card-body login-card-body"
            style="background-color: #ffffff78;border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;">
            <h6 style="text-align: center;padding: 10px;">Enter your email to get a password reset link :</h6>
            <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
                <div class="input-group mb-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-box"></i>
                        </span>
                        <input pInputText placeholder="email" formControlName="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p-button type="submit" label="Reset" icon="pi pi-check"
                            styleClass="p-button-secondary"></p-button>
                    </div>
                    <div class="col-4">
                        <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                            <p-button label="login" icon="pi pi-arrow-left" styleClass="p-button-success"></p-button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>