<pf-dropdown hide-arrow class="user-menu">
    <div slot="button">
        <a class="nav-link">
            <pf-image
                [src]="user.picture"
                fallback-src="assets/img/male.png"
                class="user-image-small"
                width="25"
                height="25"
                alt="User Image"
                rounded
            ></pf-image>
        </a>
    </div>
    <div slot="menu">
        <li class="user-header bg-primary">
            <pf-image
                [src]="user.picture"
                fallback-src="assets/img/male.png"
                class="user-image-big"
                alt="User Image"
                width="90"
                height="90"
                rounded
            ></pf-image>

        </li>

        <li class="user-footer">
            <a [routerLink]="['/change-password']" class="btn btn-default btn-flat">
                change password
            </a>
            <a [routerLink]="['/logout']" class="btn btn-default btn-flat float-right">
                Sign out
            </a>
        </li>
    </div>
</pf-dropdown>
